[submodule "modules/sensu"]
	path = modules/sensu
	url = https://github.com/sensu/sensu-puppet.git
[submodule "modules/rabbitmq"]
	path = modules/rabbitmq
	url = git@github.com:KrisBuytaert/puppet-rabbitmq
[submodule "modules/redis"]
	path = modules/redis
	url = git@github.com:KrisBuytaert/puppet-redis.git
